# Object files
*.o
*.ko
*.obj
*.elf
*.class
*.xlsx

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
prog
core
*.exe
*.stackdump
*.out
*.err
*.app
*.i*86
*.x86_64
*.bat

# Debug files
*.dSYM/

# other
Aufteilung.xlsx
\project
/project/
